<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <title>Todos</title>
  </head>
  <body>
    <span class="controls"></span>
    <nav><span>The Todo App</span></nav>
    <h1>Todo Items</h1>

    <main class="container">
      <div class="text-center">
        <button id="createTodoBtn" type="button" class="btn btn-primary mb-3">
          Create a New Todo
        </button>
      </div>
      <ul id="todoList"></ul>
    </main>

    <script src="./index.js" charset="utf-8"></script>
  </body>
</html>
